*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
nav {
  background-color: darkmagenta;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}
nav h1 {
  color: royalblue;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: mediumaquamarine;
}
.logo-link {
  padding: 0.7rem;
}
.main-links {
  display: flex;
}
nav a,
nav button {
  text-transform: capitalize;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
}
nav a:hover,
nav button:hover,
nav .sub-menu:hover {
  background-color: mediumaquamarine;
  color: darkmagenta;
  border-radius: 4px;
}
.sub-menu:hover button {
  color: darkmagenta;
}
nav button {
  border: none;
  outline: none;
  background-color: transparent;
  color: mediumaquamarine;
}
.sub-menu {
  float: left;
}
.sub-menu-content {
  display: none;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: mediumaquamarine;
  width: 100%;
}
.sub-menu-content a {
  float: left;
  color: darkmagenta;
}
nav .sub-menu:hover .sub-menu-content {
  display: block;
}
.sub-sub-menu-content {
  display: none;
}
.sub-sub-menu {
  float: left;
}
.sub-sub-menu:hover,
.sub-sub-menu:hover button,
.sub-sub-menu:hover .sub-sub-menu-content {
  background-color: deeppink;
  color: darkolivegreen;
}
.sub-sub-menu:hover .sub-sub-menu-content a:hover {
  background-color: blue;
  color: white;
}
.sub-sub-menu-content {
  position: absolute;
  left: 0;
  width: 100%;
}
.sub-sub-menu:hover .sub-sub-menu-content {
  display: block;
}
